@import '../../styleSheets/Styles.scss';

.container {
    width: 100%;
}

.imageContainer {
    padding: 100px 0;
    width: 100%;
    background-color: #00B36A;
    text-align: center;
    margin: 0 auto;

    .avatar {
        margin-bottom: 50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 6px #fff solid;
    }
}